*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
}

:root{
  --sectoin-background: #312E7B;
  --button-background: #01974D;
  --title-color: #110F46;
  --subtitle-color: #454E65;
}
